<form method="post" action="{{ path('specialite_enseigne_delete', {'id': specialite_enseigne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialite_enseigne.id) }}">
    <button class="btn">Delete</button>
</form>
