{% extends 'base.html.twig' %}

{% block title %}Edit SpecialiteEnseigne{% endblock %}

{% block body %}
    <h1>Edit SpecialiteEnseigne</h1>

    {{ include('specialite_enseigne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('specialite_enseigne_index') }}">back to list</a>

    {{ include('specialite_enseigne/_delete_form.html.twig') }}
{% endblock %}
