{% extends 'base.html.twig' %}

{% block title %}SpecialiteEnseigne index{% endblock %}

{% block body %}
    <h1>SpecialiteEnseigne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>Actif</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialite_enseigne in specialite_enseignes %}
            <tr>
                <td>{{ specialite_enseigne.id }}</td>
                <td>{{ specialite_enseigne.code }}</td>
                <td>{{ specialite_enseigne.libelle }}</td>
                <td>{{ specialite_enseigne.actif ? 'Yes' : 'No' }}</td>
                <td>{{ specialite_enseigne.logo }}</td>
                <td>
                    <a href="{{ path('specialite_enseigne_show', {'id': specialite_enseigne.id}) }}">show</a>
                    <a href="{{ path('specialite_enseigne_edit', {'id': specialite_enseigne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('specialite_enseigne_new') }}">Create new</a>
{% endblock %}
