{% extends 'base.html.twig' %}

{% block title %}New SpecialiteEnseigne{% endblock %}

{% block body %}
    <h1>Create new SpecialiteEnseigne</h1>

    {{ include('specialite_enseigne/_form.html.twig') }}

    <a href="{{ path('specialite_enseigne_index') }}">back to list</a>
{% endblock %}
