{% extends 'base.html.twig' %}

{% block title %}SpecialiteEnseigne{% endblock %}

{% block body %}
    <h1>SpecialiteEnseigne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialite_enseigne.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ specialite_enseigne.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ specialite_enseigne.libelle }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ specialite_enseigne.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ specialite_enseigne.logo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('specialite_enseigne_index') }}">back to list</a>

    <a href="{{ path('specialite_enseigne_edit', {'id': specialite_enseigne.id}) }}">edit</a>

    {{ include('specialite_enseigne/_delete_form.html.twig') }}
{% endblock %}
