<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KhaMELIA - Connexion{% endblock %}</title>
        <meta name="keywords" content="InetSCHOOL" />
        <meta name="description" content="InetSCHOOL pages">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/magnific-popup/magnific-popup.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/css/datepicker3.css') }}" />
        
        <!-- Specific Page Vendor CSS -->
        {% block stylesheets %}{% endblock %}
        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/theme.css') }}" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/skins/default.css') }}" />

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/theme-custom.css') }}">

        <!-- Head Libs -->
        <script src="{{ asset('assets/vendor/modernizr/modernizr.js') }}"></script>
        
    </head>
    <body>
    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo pull-left">
                <img src="assets/images/logo.png" height="54" alt="Porto Admin" />
            </a>

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Connexion</h2>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>Problème rencontré!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        {% if app.user %}
                            <div class="alert alert-primary">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>Note !</strong> Vous êtes connectés en tant que {{ app.user.username }}!  <a class="alert-link" href="{{ path('app_logout') }}">Logout</a>.
                            </div>
                        {% endif %}
                        <div class="form-group mb-lg">
                            <label for="inputEmail">Email</label>
                            <div class="input-group input-group-icon">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-lg" required autofocus>
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-lg">
                            <div class="clearfix">
                                <label class="pull-left" id="inputPassword">Mot de passe</label>
                                <a href="pages-recover-password.html" class="pull-right">Mot de passe oublié?</a>
                            </div>
                            <div class="input-group input-group-icon">
                                <input type="password" name="password" id="inputPassword" class="form-control input-lg" required>
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input id="RememberMe" name="rememberme" type="checkbox"/>
                                    <label for="RememberMe">Se souvenir de moi</label>
                                </div>
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="submit" class="btn btn-primary hidden-xs">Connexion</button>
                                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Connexion</button>
                            </div>
                        </div>

                       {# <span class="mt-lg mb-lg line-thru text-center text-uppercase">
                                                   <span>or</span>
                                               </span>
                       
                                               <div class="mb-xs text-center">
                                                   <a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
                                                   <a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
                                               </div>
                       
                                               <p class="text-center">Don't have an account yet? <a href="pages-signup.html">Sign Up!</a>#}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
            </div>
            <p class="text-center text-muted mt-md mb-md">JobsREADY ©2020 All Rights Reserved.</p>
        </div>
    </section>

    {# <form method="post"> if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif #}

  {#  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail">Email</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
      <label for="inputPassword">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" required>
  
      <input type="hidden" name="_csrf_token"
             value="{{ csrf_token('authenticate') }}"
      >#}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    {#<button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button></form>#}

 <!-- Vendor -->
        <script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/vendor/nanoscroller/nanoscroller.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('assets/vendor/magnific-popup/magnific-popup.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>
        
        <!-- Specific Page Vendor -->
         {% block javascripts %}{% endblock %}
        
        <!-- Theme Base, Components and Settings -->
        <script src="{{ asset('assets/javascripts/theme.js') }}"></script>
        
        <!-- Theme Custom -->
        <script src="{{ asset('assets/javascripts/theme.custom.js') }}"></script>
        
        <!-- Theme Initialization Files -->
        <script src="{{ asset('assets/javascripts/theme.init.js') }}"></script>


        <!-- Examples -->
        <script src="{{ asset('assets/javascripts/dashboard/examples.dashboard.js') }}"></script>
    </body>
</html>
