{% extends 'base.html.twig' %}

{% block title %}KhaMELIA - Enseigne{% endblock %}
{% block stylesheets %}
	
	<link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}" />
	<link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }} " />
	<link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }} " />
{% endblock %}

{% block position %}
	{{ position }}
{% endblock %}

{% block chemin %}
	{{ chemin }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 col-lg-12 col-xl-6">
			<section class="panel">
				<header class="panel-heading">
					
					<div class="panel-actions">
						<a href="#" class="fa fa-caret-down"></a>
					</div>
			
					<h2 class="panel-title">
						{% if app.user.type == TYPE_PARTICULIER %}
							Enseignes de KhaMELIA
						{% elseif app.user.type == TYPE_ENTREPRISE %}
							Vos enseignes créées
							<a href="#modalFormCreate" class="modal-with-form mb-xs mt-xs mr-xs btn btn-success" >
								<span class="fa fa-plus"></span>
								Créer
							</a>
							<!-- Modal Form -->
							<div id="modalFormCreate" class="modal-block modal-block-primary mfp-hide">
								<section class="panel">
									<header class="panel-heading">
										<h2 class="panel-title">Création d'une enseigne</h2>
									</header>
									<div class="panel-body">
										<form action="{{ path('create_enseigne') }} " method="post">
											<input type="hidden" name="_token" value="{{ csrf_token('create-item'~ app.user.id) }}"/>
											<input type="hidden" value="{{ app.user.id }}" name="id_entreprise">
											<div class="form-group mt-lg">
												<label class="col-sm-3 control-label">Nom de l'enseigne</label>
												<div class="col-sm-9">
													<input type="text" name="nom_enseigne" class="form-control" placeholder="Entrez le nom de l'enseigne..." required />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Code de l'enseigne</label>
												<div class="col-sm-9">
													<input type="text" name="code_enseigne" class="form-control" placeholder="Entrez le code de l'enseigne..." required />
												</div>
											</div>
											

											<div class="form-group text-right pr-md">
												<input type="submit" value="Créer" class="btn btn-primary">
											</div>
										</form>
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-md-12 text-right">
												<button class="btn btn-default modal-dismiss">Annuler</button>
											</div>
										</div>
									</footer>
								</section>
							</div>

						{% endif %}
					</h2>

				</header>
				<div class="panel-body">
					<table class="table table-bordered table-striped mb-none" id="datatable-default">
						<thead>
							<tr>
								<th class="center">Nom de l'enseigne</th>
								<th class="center">Code de l'enseigne</th>
								<th class="center">Type</th>
								<th class="center">Action(s)</th>
							</tr>
						</thead>
						<tbody>
							{% if app.user.type == TYPE_PARTICULIER %}
								{% for enseigneAffiliee in affiliées %}
									<tr class="gradeX center">
										<td>
											{{ enseigneAffiliee.nom_enseigne }}
										</td>
										<td>
											{{ enseigneAffiliee.code_enseigne }}
										</td>
										<td class="center">
											{% if enseigneAffiliee.id_enseigne not in joined %}
												<a href="#modalCenter-{{ enseigneAffiliee.id_enseigne }}" class="modal-basic mb-xs mt-xs mr-xs btn btn-success">
													<span class="fa fa-reply "></span>
														Rejoindre
												</a>

												<div id="modalCenter-{{ enseigneAffiliee.id_enseigne }}" class="modal-block modal-block-primary mfp-hide">
													<section class="panel">
														<header class="panel-heading">
															<h2 class="panel-title">Attention</h2>
														</header>
														<div class="panel-body text-center">
															<div class="modal-wrapper">
																<div class="modal-icon center">
																	<i class="fa fa-question-circle"></i>
																</div>
																<div class="modal-text">
																	<h4>Attention</h4>
																	<p>Êtes-vous sur de vouloir rejoindre cette enseigne ?</p>
																</div>
															</div>
														</div>
														<footer class="panel-footer">
															<div class="row">
																<div class="col-md-12 text-right">
																	<a href="{{ path('rejoindre', {'id_enseigne': enseigneAffiliee.id_enseigne}) }}">
																		<button class="btn btn-primary">Oui</button>
																	</a>
																	<button class="btn btn-default modal-dismiss">Non</button>
																</div>
															</div>
														</footer>
													</section>
												</div>
											{% else %}
												{% set coadmin1 = false %}
												{% for enseigneJoind in enseignesJoined %}
													{% if enseigneJoind.idUser == app.user.id and 'co_administrateur' in enseigneJoind.droits and enseigneJoind.idEnseigne == enseigneAffiliee.id_enseigne %}
														<a href="{{ path('membre', {'id_enseigne': enseigne.id_enseigne}) }}" class="mb-xs mt-xs mr-xs btn btn-info">
															<span class="fa fa-users"></span>
															Membres
														</a>
														{% set coadmin1 = true %}
													{% endif %}
												{% endfor %}
												{% if coadmin1 == false %}
													Aucune(s)
												{% endif %}
												{#<a href="" class="mb-xs mt-xs mr-xs btn btn-info">
													<span class="fa fa-info"></span>
													Mes détails
												</a>#}
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							{% elseif app.user.type == TYPE_ENTREPRISE %}
								{% for enseigne in enseignes %}
									<tr class="gradeX center">
										<td>
											{{ enseigne.nom_enseigne }}
										</td>
										<td>
											{{ enseigne.code_enseigne }}
										</td>
										<td>
											{% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined %} 
												{{ enseignesTypes[enseigne.id_enseigne] }} 
											{% else %}
												pas encore définis
											{% endif %}
										</td>
										<td class="center">
										{% if enseigne.id_enseigne not in affiliées %}
											<a href="#modalCenter-{{ enseigne.id_enseigne }}" class="modal-basic mb-xs mt-xs mr-xs btn btn-success">
												<span class="fa fa-plus "></span>
													Affilier
											</a>

											<div id="modalCenter-{{ enseigne.id_enseigne }}" class="modal-block modal-block-primary mfp-hide">
												<section class="panel">
													<header class="panel-heading">
														<h2 class="panel-title">Attention</h2>
													</header>
													<div class="panel-body text-center">
														<div class="modal-wrapper">
															<div class="modal-icon center">
																<i class="fa fa-question-circle"></i>
															</div>
															<div class="modal-text">
																<h4>Attention</h4>
																<p>Êtes-vous sur de vouloir affilier cette enseigne à KhaMELIA?</p>
															</div>
														</div>
													</div>
													<footer class="panel-footer">
														<div class="row">
															<div class="col-md-12 text-right">
																<a href="{{ path('affilier', {'id_enseigne': enseigne.id_enseigne}) }}">
																	<button class="btn btn-primary">Oui</button>
																</a>
																<button class="btn btn-default modal-dismiss">Non</button>
															</div>
														</div>
													</footer>
												</section>
											</div>
										{% else %}
											<a href="{{ path('membre', {'id_enseigne': enseigne.id_enseigne}) }} " class="mb-xs mt-xs mr-xs btn btn-info">
												<span class="fa fa-users"></span>
												Membres
											</a>
										{% endif %}
											<a href="#modalFormEdit-{{ enseigne.id_enseigne }}" class="modal-with-form mb-xs mt-xs mr-xs btn btn-primary">
												<span class="fa fa-edit"></span>
													Editer
											</a>
											
											<!-- Modal Form -->
											<div id="modalFormEdit-{{ enseigne.id_enseigne }}" class="modal-block modal-block-primary mfp-hide">
												<section class="panel">
													<header class="panel-heading">
														<h2 class="panel-title">Mise à jour de l'enseigne</h2>
													</header>
													<div class="panel-body">
														<form action="{{ path('edit_enseigne') }} " method="post">
															<input type="hidden" name="_token" value="{{ csrf_token('edit-item'~ app.user.id) }}"/>
															<input type="hidden" value="{{ enseigne.id_enseigne }}" name="id_enseigne">
															<div class="form-group mt-lg">
																<label class="col-sm-3 control-label">Nom de l'enseigne</label>
																<div class="col-sm-9">
																	<input type="text" name="nom_enseigne" class="form-control" placeholder="Entrez le nom de l'enseigne..." required value="{{enseigne.nom_enseigne }} " />
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-3 control-label">Code de l'enseigne</label>
																<div class="col-sm-9">
																	<input type="text" name="code_enseigne" class="form-control" placeholder="Entrez le code de l'enseigne..." required value="{{ enseigne.code_enseigne }} " />
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-3 control-label">Type</label>
																<div class="col-sm-9">
																	<select class="form-control" id="ms_example6" name="type" required="required">
																		<option value="centre_sante" {% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined and "centre_sante" == enseignesTypes[enseigne.id_enseigne] %} selected="selected" {% endif %}>Centre de santé</option>

																		<option value="pharmacie" {% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined and "pharmacie" == enseignesTypes[enseigne.id_enseigne] %} selected="selected" {% endif %}>Pharmacie</option>

																		<option value="laboratoire_analyse" {% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined and "laboratoire_analyse" == enseignesTypes[enseigne.id_enseigne] %} selected="selected" {% endif %}>Laboratoire d'analyse</option>

																		<option value="maternite" {% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined and "maternite" == enseignesTypes[enseigne.id_enseigne] %} selected="selected" {% endif %}>Maternité</option>

																		<option value="centre_vaccination" {% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined and "centre_vaccination" == enseignesTypes[enseigne.id_enseigne] %} selected="selected" {% endif %}>Centre de vaccination</option>

																		<option value="assurance" {% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined and "assurance" == enseignesTypes[enseigne.id_enseigne] %} selected="selected" {% endif %}>Assurance</option>

																		<option value="laboratoire_pharmaceutique" {% if enseignesTypes is not empty and enseignesTypes[enseigne.id_enseigne] is defined and "laboratoire_pharmaceutique" == enseignesTypes[enseigne.id_enseigne] %} selected="selected" {% endif %}>Laboratoire Pharmaceutique</option>
																	</select>
																</div>
															</div>
															<div class="form-group text-right pr-md">
																<input type="submit" value="Mettre à jour" class="btn btn-primary">
															</div>
														</form>
													</div>
													<footer class="panel-footer">
														<div class="row">
															<div class="col-md-12 text-right">
																<button class="btn btn-default modal-dismiss">Cancel</button>
															</div>
														</div>
													</footer>
												</section>
											</div>

											
										</td>
									</tr>
								{% else %}
									<tr class="gradeX" colspan="4"> Vous n'avez créé aucune enseigne</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</section>
			{% if app.user.type == TYPE_ENTREPRISE %}
				<section class="panel">
					<header class="panel-heading">
						<div class="panel-actions">
							<a href="#" class="fa fa-caret-down"></a>
						</div>
				
						<h2 class="panel-title">
							Enseignes de KhaMELIA
						</h2>
						
					</header>
					<div class="panel-body">
						<table class="table table-bordered table-striped mb-none" id="datatable-default">
							<thead>
								<tr>
									<th class="text-center">Nom de l'enseigne</th>
									<th class="text-center">Code de l'enseigne</th>
									<th class="text-center">Action(s)</th>
								</tr>
							</thead>
							<tbody class="text-center">
							{% for enseigne in enseignesAffiliees %}
								{% if enseigne.id_enseigne not in myEnseignesId %}
									<tr class="gradeX center">
										<td>
											{{ enseigne.nom_enseigne }}
										</td>
										<td>
											{{ enseigne.code_enseigne }}
										</td>
										<td class="center">
											{% if enseigne.id_enseigne not in joined %}
												<a href="#modalCenter-{{ enseigne.id_enseigne }}" class="modal-basic mb-xs mt-xs mr-xs btn btn-success">
													<span class="fa fa-reply "></span>
														Rejoindre
												</a>

												<div id="modalCenter-{{ enseigne.id_enseigne }}" class="modal-block modal-block-primary mfp-hide">
													<section class="panel">
														<header class="panel-heading">
															<h2 class="panel-title">Attention</h2>
														</header>
														<div class="panel-body text-center">
															<div class="modal-wrapper">
																<div class="modal-icon center">
																	<i class="fa fa-question-circle"></i>
																</div>
																<div class="modal-text">
																	<h4>Attention</h4>
																	<p>Êtes-vous sur de vouloir rejoindre cette enseigne ?</p>
																</div>
															</div>
														</div>
														<footer class="panel-footer">
															<div class="row">
																<div class="col-md-12 text-right">
																	<a href="{{ path('rejoindre', {'id_enseigne': enseigne.id_enseigne}) }}">
																		<button class="btn btn-primary">Oui</button>
																	</a>
																	<button class="btn btn-default modal-dismiss">Non</button>
																</div>
															</div>
														</footer>
													</section>
												</div>
											{% else %}
												{% set coadmin = false %}
												{% for enseigneJoind in enseignesJoined %}
													{% if enseigneJoind.idUser == app.user.id and 'co_administrateur' in enseigneJoind.droits and enseigneJoind.idEnseigne == enseigne.id_enseigne %}
														<a href="{{ path('membre', {'id_enseigne': enseigne.id_enseigne}) }}" class="mb-xs mt-xs mr-xs btn btn-info">
															<span class="fa fa-users"></span>
															Membres
														</a>
														{% set coadmin = true %}
													{% endif %}
												{% endfor %}
												{% if coadmin == false %}
													Aucune(s)
												{% endif %}
												{#<a href="" class="mb-xs mt-xs mr-xs btn btn-info">
													<span class="fa fa-info"></span>
													Mes détails
												</a>#}
											{% endif %}
										</td>
									</tr>
								{% endif %}
							{% endfor %}
							</tbody>
						</table>
					</div>
				</section>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	
	<script src="{{ asset('assets/vendor/select2/select2.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables/media/js/jquery.dataTables.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables-bs3/assets/js/datatables.js') }} "></script>
	<script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
	<script src="{{ asset('assets/javascripts/ui-elements/examples.modals.js') }}"></script>
	<script src="{{ asset('assets/javascripts/tables/examples.datatables.default.js') }}"></script>
{% endblock %}
