{{ form_start(form) }}
	<div class="form-group">
		{{ form_row(form.libelle) }}
	</div>
	<div class="form-group">
		{{ form_row(form.description) }}
	</div>
	<div class="form-group">
		{{ form_row(form.logo) }}
	</div>
	<div class="form-group">
		{{ form_row(form.etat) }}
	</div>
	<div class="form-group">
		{{ form_row(form.type) }}
	</div>
	
    <button class="mb-xs mt-xs mr-xs btn btn-success">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
