{% extends 'base.html.twig' %}

{% block title %}KhaMELIA - Service/Mise à jour{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }} " />
    <link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }} " />
{% endblock %}

{% block position %}
    {{ position }}
{% endblock %}

{% block chemin %}
    {{ chemin }}
{% endblock %}

{% block body %}
	<div class="row">
    	<div class="col-md-6 col-lg-12 col-xl-6">
	        <section class="panel">
	            <header class="panel-heading">
	            	<div class="panel-actions">
	            		<a href="{{ path('services_index') }}">
	            			<button class="mb-xs mt-xs mr-xs btn btn-primary">
	                            <span class="fa fa-left"></span>
	                            Retour
	                        </button>
	            		</a>
        		 	</div>
	                <h2 class="panel-title">
	                   Modifier un service
	                </h2>
	            </header>
	            <div class="panel-body">
    				{{ form_start(form) }}
						<div class="form-group">
							{{ form_row(form.libelle) }}
						</div>
						<div class="form-group">
							{{ form_row(form.description) }}
						</div>
						<div class="form-group">
							{{ form_row(form.logo) }}
						</div>	
					    <button class="mb-xs mt-xs mr-xs btn btn-success">{{ button_label|default('Mettre à jour') }}</button>
					{{ form_end(form) }}

    			</div>
{% endblock %}
