{% extends 'base.html.twig' %}

{% block title %}KhaMELIA - Service/nouveau{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }} " />
    <link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }} " />
{% endblock %}

{% block position %}
    {{ position }}
{% endblock %}

{% block chemin %}
    {{ chemin }}
{% endblock %}

{% block body %}
    <div class="row">
    	<div class="col-md-6 col-lg-12 col-xl-6">
	        <section class="panel">
	            <header class="panel-heading">
	            	<div class="panel-actions">
	                    <a href="{{ path('services_index') }}" class="">
	                     	<button class="mb-xs mt-xs mr-xs btn btn-primary">
	                            <span class="fa fa-left"></span>
	                            Retour
	                        </button>
	                    </a>
	                </div>
	                <h2 class="panel-title">
	                   Créer un service
	                </h2>
	            </header>
            <div class="panel-body">
            	{{ include('services/_form.html.twig') }}
           	</div>
       	</section>
   	</div>
    <!--a href="{--{ path('services_index') }--}">back to list</a-->
{% endblock %}

{% block javascripts %}
    
    <script src="{{ asset('assets/vendor/select2/select2.js') }} "></script>
    <script src="{{ asset('assets/vendor/jquery-datatables/media/js/jquery.dataTables.js') }} "></script>
    <script src="{{ asset('assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js') }} "></script>
    <script src="{{ asset('assets/vendor/jquery-datatables-bs3/assets/js/datatables.js') }} "></script>
    <script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
    <script src="{{ asset('assets/javascripts/ui-elements/examples.modals.js') }}"></script>
    <script src="{{ asset('assets/javascripts/tables/examples.datatables.default.js') }}"></script>
{% endblock %}

