{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>Services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ service.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ service.logo }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ service.etat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ service.type ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('services_index') }}">back to list</a>

    <a href="{{ path('services_edit', {'id': service.id}) }}">edit</a>

    {{ include('services/_delete_form.html.twig') }}
{% endblock %}
