{% extends 'base.html.twig' %}

{% block title %}Edit TypeEns{% endblock %}

{% block body %}
    <h1>Edit TypeEns</h1>

    {{ include('type_ens/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_ens_index') }}">back to list</a>

    {{ include('type_ens/_delete_form.html.twig') }}
{% endblock %}
