{% extends 'base.html.twig' %}

{% block title %}TypeEns index{% endblock %}

{% block body %}
    <h1>TypeEns index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_en in type_ens %}
            <tr>
                <td>{{ type_en.id }}</td>
                <td>{{ type_en.code }}</td>
                <td>{{ type_en.libelle }}</td>
                <td>
                    <a href="{{ path('type_ens_show', {'id': type_en.id}) }}">show</a>
                    <a href="{{ path('type_ens_edit', {'id': type_en.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_ens_new') }}">Create new</a>
{% endblock %}
