{% extends 'base.html.twig' %}

{% block title %}New TypeEns{% endblock %}

{% block body %}
    <h1>Create new TypeEns</h1>

    {{ include('type_ens/_form.html.twig') }}

    <a href="{{ path('type_ens_index') }}">back to list</a>
{% endblock %}
